body {background: url(https://i0.wp.com/www.silocreativo.com/wp-content/uploads/2022/02/texturas-descargas-gratis-premium.png?fit=666%2C370&quality=100&strip=all&ssl=1);
    color: black;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;}
    h1 {font-size: 50px;
    padding-top: 80pt;
    padding-left: 300pt;
    background-color: #AFC644;
    width: fit-content;}
    * {padding-left: 10pt;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;}
    img {padding-left: 200px;}
    div {padding-left: 0;
        padding-right: 100px;}
    a{
    color: black;
    padding-left: 5%;
    padding-bottom: 3%;
    background-color: #cfe415
    }   
    p{
        background-color: #4cafb0
    }
    table{
        background-color: #cac9c9
    }
    .caja{
        width: fit-content;
    }